<% provide(:title, "TopPage") %>

　<div class = "image"></div>
<%= image_tag 'home_image.jpg', :size =>'700x600' %>
  </div>

  <div class = "right">
    <% if user_signed_in? %>
    <%= link_to "サインアウト", destroy_user_session_path, method: :delete,class: "btn btn-primary"%>
    <% else %>
    <%= link_to "サインイン",user_session_path,class: "btn btn-primary" %>
    <% end %>
    <%= link_to "登録する",new_user_registration_path,class: "btn btn-primary" %>
  </div>